# build output
build/
lib/version.txt
cscope.*out
compile_commands.json
code/sneezy

# dynamically changing mud files
/lib/mutable/

# local config file
sneezy.cfg
discord.cfg

# editor tmp files
.sw?
.*.sw?
*~

# python byte cache files
*.pyc
*.pyo
/lib/core
