# scons build output
/code/.sconsign.dblite
/code/.sconf_temp/
/code/config.log
/code/objs/
/code/sneezy
/code/code/tags
/code/tags
/tags

# dynamically changing mud files
/lib/account/
/lib/immortals/
/lib/player/
/lib/rent/
/lib/roomdata/
/lib/txt/stats
/lib/txt/stats.bak

# local config file
sneezy.cfg

# editor tmp files
.sw?
.*.sw?
*~

# python byte cache files
*.pyc
*.pyo
