body {
  background-color: #000;
  color: #DDD;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 12px;
}

p, td, li { font-size:12px; 
    font-family: verdana,arial,helvetica,sans-serif;
    color: #DDD;
}

a {
  text-decoration:none;
}
a:link { color: #99C; }
a:visited { color: #99C; }
a:active { color: #CCC; }
a:hover { text-decoration:underline; }

a.nav { color: #669; }

dt.nav { 
  font-size: 12px; 
  font-weight: bold;
  margin-top: 10px;  
}
dd.nav { 
  font-size: 10px; 
  margin-left: 5px;
}
.bc {
  font-size: 10px;
  font-weight: bold;
}

.footer { font-size: 10px; }

